@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$mainColor: #ff6060;
$white: #ffffff;
$black: #000000;
$grayLight: #f6f6f6;

$cardHeight: 340px;
$cardWidth: 340px;
$cardBorderRadius: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// ------------- Header -------------

.header {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &__nav {
    display: flex;
    gap: 57px;
  }

  .nav-link {
    text-decoration: none;
    color: $black;
    font-weight: 500;
    font-size: 1.5rem;

    &.active {
      border-bottom: 1px solid $black;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// ------------- Banner -------------

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $black;
    opacity: 0.4;
    border-radius: inherit;
    z-index: 1;
  }

  h1 {
    color: $white;
    font-size: 3rem;
    font-weight: 700;
    z-index: 2;
  }
}

// ------------- Home -------------

.home {
  max-width: 1240px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 45px 0;
  gap: 50px;

  .banner-home {
    background: url("../assets/img/sea-banner.png") center/cover no-repeat;
  }

  .cards-wrapper {
    width: 100%;
    background: $grayLight;
    padding: 56px 40px 40px 56px;
    border-radius: 25px;
    height: 829px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .cards-container {
    overflow-y: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    justify-content: space-around;
    gap: 50px;
    padding: 0 10px;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid $mainColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// ------------- Card -------------

.card {
  position: relative;
  width: $cardWidth;
  height: $cardHeight;
  border-radius: $cardBorderRadius;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: inherit;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    position: absolute;
    bottom: 20px;
    margin: 0 20px;
    color: $white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    z-index: 2;
  }
}

// ------------- A Propos -------------

.about {
  max-width: 1240px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 45px 0;
  gap: 40px;

  .banner-about {
    background: url("../assets/img/mountain-banner.png") center/cover no-repeat;
  }

  .valeurs-container {
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

// ------------- Collapse -------------

.collapse {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

  &__header {
    padding: 10px 20px 10px 15px;
    width: 100%;
    height: 52px;
    background: $mainColor;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .collapse__toggle {
      text-align: center;
      cursor: pointer;
    }

    .collapse__icon {
      font-size: 1.5rem;
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease;

      &.rotated {
        transform: rotate(-180deg);
      }
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    background: $grayLight;
    transition: max-height 0.4s ease;

    &.open {
      max-height: 500px;
    }
  }

  &__inner {
    transform: translateY(-50px);
    padding: 0 18px;
    font-size: 1.125rem;
    line-height: 1.6rem;
    transition: transform 0.4s, padding 0.4s;

    .collapse__content.open & {
      transform: translateY(0);
      padding: 18px;
    }
  }
}

// ------------- Footer -------------

.footer {
  background: $black;
  color: $white;
  text-align: center;
  height: 209px;

  &__logo {
    margin-top: 66px;
    margin-bottom: 36px;
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 51px;
  }
}

// ------------- Page NotFound -------------

.notfound {
  color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 100px 0 150px;

  &__code {
    font-size: 18rem;
    margin: 0;
    font-weight: 700;
  }

  &__message {
    font-size: 2.25rem;
    color: $mainColor;
  }

  &__link {
    text-decoration: underline;
    font-size: 1.125rem;
    color: $black;
  }
}
