@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$mainColor: #ff6060;
$white: #ffffff;
$black: #000000;
$grayLight: #f6f6f6;

$cardHeight: 340px;
$cardWidth: 340px;
$cardBorderRadius: 10px;

$font-size-xxs: 0.625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1.125rem; // 18px
$font-size-lg: 1.5rem; // 24px
$font-size-xl: 2.25rem; // 36px
$font-size-xxl: 3rem; // 48px

// Nombre maximum de photos dans la galerie des logements
$max-slides: 20;

// Petit écran
$small-device: 700px;

// ------------- Settings -------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

li {
  list-style: none;
}

#root {
  height: 100%;
}

.app {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 45px;

  @media screen and (max-width: $small-device) {
    padding-top: 16px;
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 45px;

  @media screen and (max-width: $small-device) {
    margin: 0 20px;
  }
}

// ---------------------------------
// ------------- Pages -------------
// ---------------------------------

// ------------- Page Home -------------

.home {
  max-width: 1240px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 45px 0;
  gap: 50px;

  @media screen and (max-width: $small-device) {
    padding: 25px 0;
    gap: 25px;
  }

  .banner-home {
    background: url("../assets/img/sea-banner.png") center/cover no-repeat;
  }

  .cards-wrapper {
    width: 100%;
    background: $grayLight;
    padding: 56px 40px 40px 56px;
    border-radius: 25px;
    height: 829px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $small-device) {
      border-radius: 0;
      padding: 0;
      background: none;
      height: 805px;
    }
  }

  .cards-container {
    overflow-y: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    justify-content: space-around;
    gap: 50px;
    padding: 0 10px;

    @media screen and (max-width: $small-device) {
      grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
      padding: 0;
      gap: 20px;
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid $mainColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// ------------- Page House -------------

.house {
  max-width: 1240px;
  width: 100%;
  padding: 45px 0;

  @media screen and (max-width: $small-device) {
    padding: 30px 0;
  }

  &__infos {
    min-height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    margin: 20px 0;

    @media screen and (max-width: $small-device) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      margin: 10px 0;
    }
  }

  .title__container {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $small-device) {
      min-height: 100%;
      justify-content: flex-start;
    }

    .house__title {
      padding-top: 15px;

      @media screen and (max-width: $small-device) {
        padding-top: 0;
      }

      h1 {
        color: $mainColor;
        font-size: $font-size-xl;
        line-height: 2rem;
        font-weight: 500;
        margin-bottom: 12px;

        @media screen and (max-width: $small-device) {
          line-height: 1.7rem;
          margin-bottom: 8px;
          font-size: $font-size-md;
        }
      }

      .house__location {
        font-size: $font-size-md;
        color: $black;
        font-weight: 500;
        margin-bottom: 8px;

        @media screen and (max-width: $small-device) {
          font-size: $font-size-sm;
        }
      }
    }
  }

  .tag__container {
    display: flex;
    justify-content: start;
    gap: 10px;
  }

  &__host {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $small-device) {
      flex-direction: row-reverse;
      align-items: center;
      min-height: 33px;
    }
  }

  &__host-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  &__host-picture {
    border-radius: 50%;
    height: 64px;
    width: 64px;

    @media screen and (max-width: $small-device) {
      height: 32px;
      width: 32px;
    }
  }

  &__host-name {
    color: $mainColor;
    font-size: $font-size-md;
    font-weight: 500;
    max-width: 80px;
    text-align: right;

    @media screen and (max-width: $small-device) {
      max-width: 60px;
      font-size: $font-size-xs;
    }
  }

  &__specs {
    display: flex;
    gap: 76px;
    margin-top: 10px;

    @media screen and (max-width: $small-device) {
      gap: 20px;
      flex-direction: column;
    }
  }
}

// ------------- Page A Propos -------------

.about {
  max-width: 1240px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 45px 0;
  gap: 40px;

  @media screen and (max-width: $small-device) {
    padding: 25px 0;
    gap: 15px;
  }

  .banner-about {
    background: url("../assets/img/mountain-banner.png") center/cover no-repeat;
  }

  .valeurs-container {
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (max-width: $small-device) {
      gap: 20px;
    }
  }
}

// ------------- Page NotFound -------------

.notfound {
  color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 100px 0 150px;

  &__code {
    font-size: 18rem;
    margin: 0;
    font-weight: 700;

    @media screen and (max-width: $small-device) {
      font-size: 6rem;
    }
  }

  &__message {
    font-size: $font-size-xl;
    color: $mainColor;
    text-align: center;

    @media screen and (max-width: $small-device) {
      width: 260px;
      font-size: $font-size-md;
    }
  }

  &__link {
    text-decoration: underline;
    font-size: $font-size-md;
    color: $black;

    @media screen and (max-width: $small-device) {
      font-size: $font-size-sm;
    }
  }
}

// --------------------------------------
// ------------- Components -------------
// --------------------------------------

// ------------- Header -------------

.header {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &__logo {
    @media screen and (max-width: $small-device) {
      width: 145px;
    }
  }

  &__nav {
    display: flex;
    gap: 57px;

    @media screen and (max-width: $small-device) {
      gap: 26px;
    }
  }

  .nav-link {
    text-decoration: none;
    color: $black;
    font-weight: 500;
    font-size: $font-size-lg;

    @media screen and (max-width: $small-device) {
      font-size: $font-size-xs;
      text-transform: uppercase;
    }

    &.active {
      border-bottom: 1px solid $black;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// ------------- Banner -------------

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  border: 1px solid $black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: $small-device) {
    height: 111px;
    font-size: $font-size-lg;
    border-radius: 10px;
    box-shadow: none;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $black;
    opacity: 0.55;
    border-radius: inherit;
    z-index: 1;
  }

  h1 {
    padding: 16px;
    color: $white;
    font-size: $font-size-xxl;
    font-weight: 700;
    text-shadow: 0px 0px 1px $black, 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;

    @media screen and (max-width: $small-device) {
      text-shadow: none;
      font-size: $font-size-lg;
    }
  }
}

// ------------- Tag -------------

.house__tag {
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  background: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $small-device) {
    min-width: 84px;
    height: 18px;
    border-radius: 5px;
  }
}

.tag {
  margin: 0 5px;
  color: $white;
  font-size: $font-size-sm;
  font-weight: 700;

  @media screen and (max-width: $small-device) {
    font-size: $font-size-xxs;
  }
}

// ------------- Card -------------

.card {
  position: relative;
  min-width: $cardWidth;
  height: $cardHeight;
  border-radius: $cardBorderRadius;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  @media screen and (max-width: $small-device) {
    height: 255px;
    min-width: 335px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: inherit;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    position: absolute;
    bottom: 20px;
    margin: 0 20px;
    color: $white;
    font-size: $font-size-md;
    font-weight: 700;
    line-height: 1.5rem;
    z-index: 2;
  }
}

// ------------- Gallery -------------

.gallery {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  @media screen and (max-width: $small-device) {
    height: 255px;
    border-radius: 10px;
  }

  &__slider {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;

    @for $i from 0 through $max-slides {
      &[data-index="#{$i}"] {
        transform: translateX(calc(-#{$i} * 100%));
      }
    }
  }

  &__image {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__arrow {
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 47px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and (max-width: $small-device) {
      width: 12px;
      height: 20px;
    }

    &--left {
      left: 25px;

      @media screen and (max-width: $small-device) {
        left: 8px;
      }
    }

    &--right {
      right: 25px;

      @media screen and (max-width: $small-device) {
        right: 8px;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__counter {
    position: absolute;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
    color: $white;
    font-size: $font-size-md;
    font-weight: 500;

    @media screen and (max-width: $small-device) {
      display: none;
    }
  }
}

// ------------- Star Rating -------------

.star-rating {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin: 20px 0;

  @media screen and (max-width: $small-device) {
    justify-content: flex-start;
    gap: 7px;
    margin: 15px 0;
  }

  .star {
    mask: var(--svg) no-repeat center;
    mask-size: contain;
    width: 24px;
    height: 24px;
    background-color: currentColor;

    @media screen and (max-width: $small-device) {
      width: 13px;
      height: 13px;
    }
  }

  .filled {
    --svg: url("../assets/img/star.svg");
    background-color: $mainColor;
  }

  .empty {
    --svg: url("../assets/img/star.svg");
    background-color: #e3e3e3;
  }
}

// ------------- Collapse -------------

.collapse {
  list-style: none;
  width: 100%;
  border-radius: 5px;

  &__item {
    overflow: hidden;
    background: $grayLight;
    border-radius: 5px;
  }

  &__header {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    color: $white;
    background: $mainColor;

    @media screen and (max-width: $small-device) {
      height: 30px;
    }

    h2 {
      font-size: $font-size-lg;
      font-weight: 700;

      @media screen and (max-width: $small-device) {
        font-size: $font-size-sm;
      }
    }

    .collapse__toggle {
      text-align: center;
      cursor: pointer;

      @media screen and (max-width: $small-device) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .collapse__arrow {
      width: 24px;
      height: 13px;
      transition: transform 0.3s ease;

      @media screen and (max-width: $small-device) {
        width: 16px;
        height: 9px;
      }

      &.rotated {
        transform: rotate(-180deg);
      }
    }
  }

  &__wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  &__content {
    transform: translateY(-100%);
    transition: transform 0.4s ease;
    background: $grayLight;
    border-radius: 0 0 5px 5px;
    padding: 18px;
  }

  &__inner {
    font-size: $font-size-md;
    font-weight: 400;
    line-height: 1.6rem;

    @media screen and (max-width: $small-device) {
      line-height: 1.1rem;
      font-size: $font-size-xs;
    }
  }

  &__header--active + .collapse__wrapper {
    max-height: 500px;

    .collapse__content {
      transform: translateY(0);
    }
  }
}

// ------------- Footer -------------

.footer {
  background: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 209px;

  &__logo {
    width: 122px;
    margin-top: 66px;
    margin-bottom: 36px;
    @media screen and (max-width: $small-device) {
      margin: 0;
      width: 133px;
      font-size: $font-size-xs;
    }
  }

  &__text {
    font-size: $font-size-lg;
    margin-bottom: 51px;
    padding: 8px 16px;

    @media screen and (max-width: $small-device) {
      margin: 0;
      width: 130px;
      font-size: $font-size-xs;
    }
  }
}
